/*.working
/output/*
/fis-pack.json
/issue.info
/logger_client_log
/build_submitter.log
/.idea
/.libs
tags
*.log
*.tmp
*.o
*.lo
*.la
*.al
*.so
*.a
*.pyc
*.pyo
*.reg
.*.swp
._*
.DS_Store
.DS_Store?
.Trashes
ehthumbs.db
Thumbs.db
*~
\#*#
.#*
/node_modules