@import (reference) './mixins/mixins.less';
@import './variables.less';

.lark-exit-fullscreen {
    display: none;
    // @todo svg 转化成的字体有问题，先用 png 图片处理
    background: url('./resource/images/exit-fullscreen.png') center no-repeat;
    background-size: contain;
    width: 1em;
    height: 100%;
}
.lark-request-fullscreen {
    display: block;
}
.lark-fullscreen-button {
    cursor: pointer;
    padding: 0 @primary-spacing;
    height: 100%;
    .mixins-flex();
    .mixins-flex-center-v();
}
