@import './play-button.less';
@import './font.less';
@import './status.less';
@import './progress-bar.less';
@import './buffer-bar.less';
@import './fullscreen-button.less';
@import './loading.less';
@import './control-bar.less';
@import './current-time.less';
@import './duration.less';
@import './progress-bar-simple.less';
@import './error.less';
@import './complete.less';
// pc
@import './time.less';
@import './control-bar-pc.less';
@import './gradient-bottom.less';
@import './volume.less';
@import './tooltip.less';
@import './not-support.less';


.larkplayer {
    position: relative;
    cursor: pointer;
    // 当视频不能占满整个容器时，其他地方显示黑色比较好
    background: #000;

    // 避免在 ios 上被点击时出现的黑色背景区域
    -webkit-tap-highlight-color:rgba(0,0,0,0);

    // disallow text-select highlighting
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    video {
        // video 标签默认为 inline 属性
        // 对于 inline 元素，会有底部多出 2px 的问题
        // @see https://stackoverflow.com/questions/4904668/html5-vertical-spacing-issue-with-img
        // @see https://www.zhihu.com/question/38437397
        display: block;
        width: 100%;
        height: 100%;

        &:focus {
            outline: 0;
        }

        &::-webkit-media-controls {
            display: none;
        }

        // ios 下无法隐藏原生的控制条的问题
        // @see https://github.com/videojs/video.js/issues/3762
        // 第一条会隐藏掉华为p7全屏时自带的控制条
        // &::-webkit-media-controls-panel,
        &::-webkit-media-controls-panel-container,
        &::-webkit-media-controls-start-playback-button {
            display:none !important;
            -webkit-appearance: none;
        }
    }

    // 避免获得焦点后的外层的圈圈样式
    &:focus {
        outline: 0;
    }
}

// video::-webkit-media-controls {
//     display:none !important;
// }


// 对于不支持全屏的浏览器，用 css 使得播放器看起来全屏
.lark-full-window {
    position:fixed !important;
    top:0 !important; right:0 !important; bottom:0 !important; left:0 !important;
    margin:0 !important;
    box-sizing:border-box !important;
    min-width:0 !important;
    max-width:none !important;
    min-height:0 !important;
    max-height:none !important;
    width:100% !important;
    height:100% !important;
    transform:none !important;

    object-fit:contain;
    z-index: 999999;
}

// 确保全屏时，不会因为这些定位的原因导致视频看不见了
.lark-fullscreen-adjust {
    top:0 !important; right:0 !important; bottom:0 !important; left:0 !important;
    margin:0 !important;
}

