/**
 * @file 播放器状态
 * @author yuhui<yuhui06@baidu.com>
 * @date 2017/11/10
 */

@import './mixins/mixins.less';

.lark-playing {
    .lark-play-button__play {
        display: none;
    }
    .lark-play-button__pause {
        display: block;
    }

    .lark-error-area {
        display: none;
    }

    .lark-loading-area {
        display: none;
    }
}

// fullscreen
.lark-fullscreen {
    width: 100% !important;
    height: 100% !important;
    padding-top: 0 !important;
}
.lark-fullscreen,
.lark-full-window {
    
    .lark-exit-fullscreen {
        display: block;
    }
    .lark-request-fullscreen {
        display: none;
    }
}

// 显示／隐藏 控制条
// @todo 这种默认不显示，在 active 的时候显示是不是不太好
.lark-user-active {
    .lark-play-button-mobile {
        display: block;
    }

    .lark-control-bar {
        .mixins-flex();
    }

    .lark-progress-bar--simple {
        display: none;
    }

    .lark-control-bar-pc {
        opacity: 1;
    }
}

.lark-play-button-mobile {
    display: none;
}

.lark-control-bar {
    display: none;
}

.lark-control-bar-pc {
    opacity: 0;
    .mixins-transition(opacity .25s cubic-bezier(0, 0, 0.2, 1));
}

// 播放器处于加载中状态时，显示 loading
// loading 时不显示 播放／暂停按钮
.lark-seeking,
.lark-waiting,
.lark-loadstart {
    .lark-loading-area {
        display: block;
    }

    .lark-play-button-mobile {
        display: none;
    }
}

// 除了通过用户交互控制 控制条 显隐外，一些特定状态下（暂停、播放完成）我们强制显示进度条
.lark-paused,
.lark-ended {
    // 显示状态按钮
    .lark-play-button-mobile {
        display: block;
    }
    .lark-play-button__play {
        display: block;
    }
    .lark-play-button__pause {
        display: none;
    }

    // 显示进度条等
    .lark-control-bar {
        .mixins-flex();
    }

    .lark-progress-bar--simple {
        display: none;
    }

    .lark-error-area {
        display: none;
    }

    // 暂停状态不显示 loading
    .lark-loading-area {
        display: none;
    }

    .lark-control-bar-pc {
        opacity: 1;
    }
}

.lark-paused {
    // pc 端暂停时显示 loading
    &.lark-seeking,
    &.lark-waiting,
    &.lark-loadstart {
        .lark-loading-pc {
            .lark-loading-area {
                display: block;
            }
        }
    }
}

.lark-ended {
    .lark-complete {
        display: block;
    }
}

.lark-error {
    .lark-error-area {
        display: block;
    }
    .lark-play-button-mobile {
        display: none;
    }
    .lark-loading-area {
        display: none;
    }
}

.lark-controls-hide {
    .lark-control-bar,
    .lark-control-bar-pc {
        display: none;
    }
}

.lark-not-support {
    .lark-not-support-notice {
        display: block;
    }
}

.lark-hidden {
    display: none;
}
