@import './variables.less';
@import './mixins/mixins.less';

@line-padding: 10px;
@line-width: 50px;
@ball-size: 10px;

.lark-volume {
    float: left;
    .mixins-clearfix();
    height: 100%;
    width: 80px;
    cursor: pointer;
    margin-right: @primary-spacing;
}

.lark-volume-icon {
    margin-right: 4px;
    float: left;
}

.lark-volume-line {
    float: left;
    position: relative;
    height: 100%;
}

.lark-volume-line__line {
    position: absolute;
    left: 0;
    top: 50%;
    .mixins-transform(translateY(-50%));
    width: @line-width;
    height: 2px;
    background-color: @primary-color;
}

.lark-volume-line__line-padding {
    position: absolute;
    bottom: -@line-padding;
    left: 0;
    padding: @line-padding 0;
    width: 100%;
}

.lark-volume-line__ball {
    position: absolute;
    top: 50%;
    .mixins-transform(translate(-50%, -50%));
    left: @line-width;
    width: @ball-size;
    height: @ball-size;
    border-radius: 50%;
    background: @primary-color;
}