@import './mixins/mixins.less';
@import './variables.less';

// 进度条上那个小球的大小
@handle-size: 12px;
// 全屏时变成 15px
@handle-size-fullscreen: 15px;

// 小球的 padding，为了让用户更容易点击，给 10px 的 padding
@handle-padding: 10px;

.lark-progress-bar {
    position: relative;

    .mixins-flex();
    .mixins-flex-center-v();
    flex: 1;
    -webkit-flex: 1;
}

.lark-progress-bar-except-fill {
    position: relative;
    width: 100%;
    height: @line-height;
}

.lark-progress-bar__background {
    position: absolute;
    width: 100%;
    height: 100%;
    // 对于 1px 高的元素，在 chrome 模拟器上设置 opacity 属性（小于1）会使得实际高度小于 1px 喔
    background: rgba(231, 231, 231, 0.5);
}

.lark-progress-bar__line {
    position: absolute;
    height: 100%;
    width: 0;
    // 层级顺序：progress_line(2) > buffer(1) > progress_background
    z-index: 2;
    background: @played-color;
}

// 加 padding 让用户更容易点到
.lark-progress-bar__line__handle {
    border-radius: 50%;
    position: absolute;
    padding: @handle-padding;
    right: -((@handle-size + 2 * @handle-padding) / 2);
    top: -((@handle-size + 2 * @handle-padding) / 2 - @line-height / 2);
}

.lark-progress-bar__line__handle-except-fill {
    border-radius: 50%;
    width: @handle-size;
    height: @handle-size;
    background: @primary-color;
}

// 全屏时
.lark-fullscreen {
    .lark-progress-bar__line__handle {
        right: -((@handle-size-fullscreen + 2 * @handle-padding) / 2);
        top: -((@handle-size-fullscreen + 2 * @handle-padding) / 2 - @line-height / 2);
    }

    .lark-progress-bar__line__handle-except-fill {
        width: @handle-size-fullscreen;
        height: @handle-size-fullscreen;
    }
}